@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
@using (Html.BeginForm("ClaimJob", "Job", FormMethod.Post, new { @class = "claim-job" }))
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" class="that-button" />
}
<h3 class="claimed"></h3>
<p>@Html.ActionLink("Back to list", "Index")</p>






<script type="text/javascript">
$('.claim-job').submit(function(event) {
    event.preventDefault();
    $.ajax({
        url: '@Url.Action("ClaimJob")',
        type: 'POST',
        dataType: 'json',
        data: $(this).serialize(),
        success: function (result) {
            $(".that-button").hide();
            var resultMessage = result.title + ' has been claimed';
            $('.claimed').html(resultMessage);
        }
    });
});
</script>