@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <div class="well">
        <h5>@Job.Title</h5>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
        <h5 class="btn">This job is unclaimed. @if(User.Identity.IsAuthenticated){ @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })}</h5>
        }
        else
        {
            <p class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>
            @if (Job.Pending == true)
            {
                <p class="btn">Status: Pending </p>
            }
            else if (Job.Completed == true)
            {
                <p class="btn">Status: Completed</p>
            }
            else
            {
                <p class="btn">Status: Not yet started</p>

            }
        }
    </div>


    <hr />
}

