@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (User.Identity.IsAuthenticated)
{
    
        
        <div class="text-center">
            <h4>Hello @Model.FirstName @Model.LastName</h4>
            <h3>Your Current Jobs:</h3>
        
            @foreach (var Job in Model.Jobs)
            {
                <div class="well col-md-6">
                    <h5>@Job.Title </h5>

                    @if (Job.Pending == true)
                    {
                        <p class="btn">Status: Pending </p>
                    }
                    else if (Job.Completed == true)
                    {
                        <p class="btn">Status: Completed</p>
                    }
                    else
                    {
                        <p class="btn">Status: Not yet started</p>

                    }
                    <p>@Html.ActionLink("Update Status", "Status", "Jobs", new { @text = @Job.Title, id = Job.JobId })</p>
                
                </div>
            }   
            </div>
        }   
      